<main class="page__main">
  <form class="page__main--form">
    <input
      type="button"
      class="page__main--form__logout hidden js-logout"
      value="Cerrar usuario"
    />
  </form>
  <section class="page__main--sectionForm" id="sectionClose">
    <form class="page__main--sectionForm__form">
      <label class="page__main--sectionForm__form--label" for="username">
        User
        <input
          class="page__main--sectionForm__form--input js-inputUser"
          type="text"
          name="username"
          id="username"
          placeholder="User"
          required
      /></label>
      <label class="page__main--sectionForm__form--label" for="password">
        Pass
        <input
          class="page__main--sectionForm__form--input js-inputPassword"
          type="password"
          name="password"
          id="password"
          placeholder="Password"
          required
      /></label>
      <input
        class="page__main--sectionForm__form--inputButton js-button"
        type="button"
        value="Entrar"
      />
    </form>
  </section>
  <section class="page__main--sectionFile js-file">
    <div class="page__main--sectionFile__page">
      <span class="page__main--sectionFile__page--back hidden js-pageBack"
        ><i class="fas fa-backward"></i
      ></span>
      <span class="page__main--sectionFile__page--next hidden js-pageNext"
        ><i class="fas fa-forward"></i
      ></span>
    </div>
    <ul class="page__main--sectionFile__sectionList js-container">
      <img
        class="page__main--sectionFile__sectionList--img"
        src="./assets/images/segurity.png"
      />
    </ul>
  </section>
</main>
