<main class="">
  <section class="">
    <form>
      <label for="username">
        Usuario
        <input
          class="js-inputUser"
          type="text"
          name="username"
          id="username"
          placeholder="CEO"
          required
      /></label>
      <label for="password">
        contraseña
        <input
          class="js-inputPassword"
          type="password"
          name="password"
          id="password"
          required
      /></label>

      <a class="js-button" id="js-linkButton" target="_BLANK" href="">Entrar</a>
    </form>
    <h1 class="js-name"></h1>
    <div class="js-file">
      <p>Listado de archivos</p>
      <ul class="js-container"></ul>
    </div>
  </section>
</main>
