<main class="page__main">
  <section class="page__main--sectionForm" id="sectionClose">
    <form class="page__main--sectionForm__form">
      <label class="page__main--sectionForm__form--label" for="username">
        User
        <input
          class="page__main--sectionForm__form--input js-inputUser"
          type="text"
          name="username"
          id="username"
          placeholder="User"
          required
      /></label>
      <label class="page__main--sectionForm__form--label" for="password">
        Pass
        <input
          class="page__main--sectionForm__form--input js-inputPassword"
          type="password"
          name="password"
          id="password"
          placeholder="Password"
          required
      /></label>
      <input
        class="page__main--sectionForm__form--inputButton js-button"
        type="button"
        value="Entrar"
      />
    </form>
  </section>
  <section class="page__main--sectionFile js-file">
    <ul class="page__main--sectionFile__sectionList js-container"></ul>
  </section>
</main>
