$fontFamily: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
$sizeTitle: 25px;
$sizePage: 14px;
$sizeMobile: 11px;

$color: #00aef3;
$colorFooter: #009eddea;
$colorHover: #009edd50;
$colorShadow: #009edd7c;
