.page {
  font-family: $fontFamily;

  &__header {
    background: linear-gradient(to bottom, $colorShadow, white);
    font-size: $sizeTitle;
    text-align: center;
    text-transform: uppercase;

    &--title {
      font-weight: 700;
      padding: 40px 0 25px;
      margin: 0 30px;

      color: rgba(0, 0, 0, 0.685);
      text-shadow: (8px 8px 3px azure), (5px 5px 2px $color),
        (3px 3px 1px azure);
      @media (min-width: 420px) {
        margin-bottom: 30px;
        font-size: ($sizeTitle * 1.5);
      }
    }
  }
}
