.page__main {
  font-size: $sizeMobile;
  @media (min-width: 465px) {
    font-size: $sizePage;
  }
  &--sectionForm {
    &__form {
      display: flex;
      flex-direction: column;

      &--label {
        margin: 0 auto 10px auto;
        text-align: start;
        @media (min-width: 450px) {
          margin: 0 0 0 20px;
        }
      }
      &--input {
        margin-left: 5px;
        padding-left: 5px;
        width: 100px;
      }
      &--inputButton {
        width: 55px;
        margin: 15px auto;
        height: 25px;

        @media (min-width: 450px) {
          margin: 0 0 0 20px;
        }
      }
      @media (min-width: 450px) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }
  }
  &--sectionFile {
    &__sectionList {
      display: flex;
      flex-direction: column;
      @media (min-width: 450px) {
        margin: 40px auto;
      }
      &--list {
        margin: 0 auto 25px auto;
        border: 2px #473ce69c groove;
        padding: 5px;
        font-size: $sizeMobile;
        @media (min-width: 450px) {
          padding: 10px;
          font-size: $sizePage;
        }
        &:hover {
          background-color: #7d76e781;
          box-shadow: 10px 10px 40px #7d76e781;
          width: 325px;
        }
        &__name {
        }
        &__hash {
        }
        &__insertion {
        }
        &__lastUpdate {
        }
        &__systemConcerned {
          width: 25ch;
          @media (min-width: 450px) {
            width: 25ch;
          }
        }
      }
    }
    &__sectionInfo {
      &--info {
        &__title {
        }
        &__name {
        }
        &__extension {
        }
        &__size {
        }
        &__list {
          &--hash {
            font-size: ($sizeMobile * 0.7);
            flex-wrap: wrap;
          }
          &--file {
          }
          &--antivirus {
          }
        }
        &__ip {
        }
        &__score {
        }
      }
    }
  }
}
